<script>
  import svelteLogo from './assets/svelte.svg'
  import Counter from './lib/Counter.svelte'
  import {addiction,subtraction} from './function/cal';
  

  let num1 = 0;
  let num2 = 0;
  let result = 0;

  function add() {
    result = addiction(num1, num2);
  }

  function subtract() {
    result = subtraction(num1, num2);
  }
</script>

<!-- App.svelte -->

<main>
  <h1>Add/Subtract Calculator</h1>
  <div>
    <label for="num1">Number 1:</label>
    <input type="number" id="num1" bind:value={num1} />
  </div>
  <div>
    <label for="num2">Number 2:</label>
    <input type="number" id="num2" bind:value={num2} />
  </div>
  <button on:click={add}>Add</button>
  <button on:click={subtract}>Subtract</button>
  <p>Result: {result}</p>
</main>
